---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums?filterByFormula=AND()&limit=&sort=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38e-r5Omu/7oZwx7TwUvT//s5w"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"rec0bTuIoUQVPMsmi","fields":{"Name":"Blood on the
        Tracks","Artist":"Dylan","Tracklist":["rec3yp4h5LRt9WK2t","recT52z6HvsA4Y3uQ","recdR3xUesTpvLLNe","rec1skiDP3jUKJTOg","recvniVltI1HAe4oj","rec8GtuRhfMmomFna","recLg27sWkcGKVVJJ","recWqO3jxRqXL4jLN","rec3r1h68loa3UT3S","rec59EsaUiv98CLSS"],"Rating":5,"id":"rec0bTuIoUQVPMsmi"},"createdTime":"2016-12-22T18:13:25.000Z"},{"id":"rec52DfV4E2I2kzrS","fields":{"Name":"Voodoo","Artist":"D''Angelo","Tracklist":["rec7Am3Sc2xLB7X10"],"Rating":5,"id":"rec52DfV4E2I2kzrS"},"createdTime":"2016-12-22T18:13:25.000Z"},{"id":"recmet9aMEu0RCzjB","fields":{"Name":"Jagged
        Little Pill","Artist":"Alanis","Tracklist":["recGFmMXekyVCRb1d"],"Rating":3,"id":"recmet9aMEu0RCzjB"},"createdTime":"2016-12-22T18:13:25.000Z"},{"id":"recsncNxgWc9t9KFw","fields":{"Name":"Tidal","Artist":"Fiona
        Apple","id":"recsncNxgWc9t9KFw"},"createdTime":"2016-12-22T18:33:25.000Z"}]}'
  recorded_at: Thu, 22 Dec 2016 19:57:27 GMT
recorded_with: VCR 3.0.3
