---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums
    body:
      encoding: UTF-8
      string: '{"fields":{"Name":"Abbey Road"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b-/NQCa5er/DriXF/liw3hOw"
    body:
      encoding: UTF-8
      string: '{"id":"rec2bgAILWG2rfK2P","fields":{"Name":"Abbey Road","id":"rec2bgAILWG2rfK2P"},"createdTime":"2016-12-22T19:57:28.689Z"}'
  recorded_at: Thu, 22 Dec 2016 19:57:28 GMT
- request:
    method: delete
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums/rec2bgAILWG2rfK2P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29-DPMcuN2CRtVK++l6swJoDg"
    body:
      encoding: UTF-8
      string: '{"deleted":true,"id":"rec2bgAILWG2rfK2P"}'
  recorded_at: Thu, 22 Dec 2016 19:57:28 GMT
recorded_with: VCR 3.0.3
