---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums?filterByFormula=AND(%7Bname%7D=%27Voodoo%27)&limit=1&sort=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6-KLr9ksSsSpS1FcywtvkHkA"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"rec52DfV4E2I2kzrS","fields":{"Name":"Voodoo","Artist":"D''Angelo","Tracklist":["rec7Am3Sc2xLB7X10"],"Rating":5,"id":"rec52DfV4E2I2kzrS"},"createdTime":"2016-12-22T18:13:25.000Z"}]}'
  recorded_at: Thu, 22 Dec 2016 19:57:27 GMT
recorded_with: VCR 3.0.3
