---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums
    body:
      encoding: UTF-8
      string: '{"fields":{"Name":"Let It Be"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a-UeDKO6wnEYqwzGRrF4/k8g"
    body:
      encoding: UTF-8
      string: '{"id":"recTGQFJzUPhmGLSH","fields":{"Name":"Let It Be","id":"recTGQFJzUPhmGLSH"},"createdTime":"2016-12-22T19:57:29.005Z"}'
  recorded_at: Thu, 22 Dec 2016 19:57:28 GMT
- request:
    method: patch
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums/recTGQFJzUPhmGLSH
    body:
      encoding: UTF-8
      string: '{"fields":{"Notes":"It wasn''t really their last one"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4-JsPNq9AzhDzTK3KVX5njOQ"
    body:
      encoding: UTF-8
      string: '{"id":"recTGQFJzUPhmGLSH","fields":{"Name":"Let It Be","id":"recTGQFJzUPhmGLSH","Notes":"It
        wasn''t really their last one"},"createdTime":"2016-12-22T19:57:29.005Z"}'
  recorded_at: Thu, 22 Dec 2016 19:57:28 GMT
- request:
    method: delete
    uri: https://api.airtable.com/v0/appTE8VIb595FI4c6/Albums/recTGQFJzUPhmGLSH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29-ZAR/APo5xyuF7F+2h7BEcg"
    body:
      encoding: UTF-8
      string: '{"deleted":true,"id":"recTGQFJzUPhmGLSH"}'
  recorded_at: Thu, 22 Dec 2016 19:57:28 GMT
recorded_with: VCR 3.0.3
